<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en-US">
<head th:replace="fragments :: head">
    <title>Page Title</title>
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- Use a loop to display each job result in a table. -->
    <table class="job-listing" th:each="j : ${jobs}">
        <tr>
            <td>ID</td>
            <td th:text="${j.getId}"></td>
        </tr>
        <tr>
            <td>Name</td>
            <td th:text="${j.getName}"></td>
        </tr>
        <tr>
            <td>Employer</td>
            <td th:text="${j.getEmployer}"></td>
        </tr>
        <tr>
            <td>Location</td>
            <td th:text="${j.getLocation}"></td>
        </tr>
        <tr>
            <td>Position Type</td>
            <td th:text="${j.getPositionType}"></td>
        </tr>
        <tr>
            <td>Skill</td>
            <td th:text="${j.getCoreCompetency}"></td>
        </tr>
    </table>
</div>

</body>
</html>